*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Merienda', cursive;
    
}
.container-fluid{
    width: 100%;
    height: 700px;
    background: url(tech.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
   
   

}
.blue{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(7, 4, 0, 0.836);
}
.blue p{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    top: 100px;
    word-spacing: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.blue ul {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    
   
    color: white;
}
.btn:hover{
    box-shadow: 3px 3px 12px#00b300;
    color: #00b300 ;

}
.long:hover{
    box-shadow: 3px 3px 12px white;

}
.row:hover{
    transform: translateY(-20px);
    transition-duration: 1s;
    
    
}
.navigation{
    z-index: 10;
    position: absolute;
    width: 60px;
    height: 700px;
    background:rgba(7, 26, 0, 0.7) ;
    transition: 0.5s;
    overflow: hidden;
}
.navigation:hover,
.navigation.active{
    width: 300px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover{
    background: #00b300;
}

.navigation ul  li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
}
.navigation ul  li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height:60px ;
    line-height: 60px;
    text-align: center;
}
.navigation ul  li a .icon .fa{
    font-size: 24px;
}
.navigation ul  li a  .title{
    position: relative;
    display: block;
    padding: 0 10px;
    min-width: 60px;
    height:60px ;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.toggle{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 60px;
    height: 60px;
    
    cursor: pointer;
}

.toggle:before{
    content: '\f0c9';
    font-family: fontAwesome;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: white;

}
.toggle.active:before{
    content: '\f00d ';

}
.flipcard{
    width: 300px;
    height: 400px;
    perspective: 600px;
    box-shadow: 2px 2px 8px #00b300;
    margin: 30px;
}
.inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}
.flipcard:hover .inner{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    background-color: white;
    color: #00b300;
    transform: rotateY(180deg);

}
.front img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}   

